body, div, form, html, a {
    padding: 0;
    margin: 0;
}

/**/
#context {
    max-width: 750px;
    margin: 0 auto;
}
.top {

    height: auto;
}
#title_picture {
    background-image: url('1_1_3x.png');
    background-size: cover;
    width: 750px;
    height: 422px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#skip_picture {
    background-image: url('1_3x.png');
    background-size: cover;
    width: 750px;
    height: 836px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#skip_picture_2 {
    background-image: url('ct-2_2x.png');
    background-size: cover;
    width: 750px;
    height: 836px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
/**/